body{
    background-repeat: no-repeat;
    background: linear-gradient(to right, rgb(117, 49, 148), rgb(182, 128, 208));
}


h1 {
    text-align: center;
    padding-top: 40px;
    color: rgb(97, 12, 134);
}

h3 {
    padding-top: 20px;
    text-align: center;
    color: rgb(97, 12, 134);
}

#iptext {
    border: none;
    height: 40px;
    align-content: center;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    color: blueviolet;
    background-color: rgb(248, 231, 208);
}

#iptext:hover {
    width: 165px;
    align-content: center;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
 
#sub {
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    padding-top: 10px;
    text-align: center;
}

#but {
    color: blueviolet;
    height: 40px;
    width: 70px;
    border-radius: 10px;
    border: none;
    background-color: antiquewhite;
}

#but:hover {
    background-color: blueviolet;
    color: white;
}

#disp {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}